body {
    background-color: peachpuff;
}

.flash-success {
    padding: 30px;
    margin: 20px 0;
    background-color: olivedrab;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}